:root {
    --header-color: #FC4445;
    --background-color: #CAFAFE;
    --button-color: #55BCC9;
    --current-weather-color: #55BCC9;
    --card-color: #FC4445;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* #more-cities {
    max-height: 15em;
    overflow-y: scroll;
} */


.recentCity {
    white-space: nowrap;
}